.saude {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.planoOpcoes label {
    display: flex;
    flex-direction: column;
}
.planoOpcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}