.atendimento {
    display: flex;
    gap: 50px;
    text-align: center;
}
.dadosAtendimento {
    padding: 20px 0;
    text-align: left;
    display: flex;
    gap: 50px;
    justify-content: space-around;
}
.dadosAtendimento label {
    display: flex;
    flex-direction: column;
    width: 100%;
}